

<div>
  <% @portfolios.each do |portfolio| %>
    <%= link_to portfolio.name, portfolio_path(portfolio.id) %> <br>
    <%= link_to "Rename", edit_portfolio_path(portfolio.id) %>
    <%= link_to "Delete", {action: "destroy", id: portfolio.id},
    method: :delete, data: { confirm: "Are you sure you want to delete this portfolio?" } %> <br>
  <% end %>
</div>

<%= link_to "New Portfolio", new_portfolio_path %>
